.main-container {
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}

.form-field {
    border: none;
    padding: 5px 0 10px 0;
}

.form-field label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.form-field textarea {
    width: 50%;
    height: 100px;
}

#posts-container {
    margin-top: 100px;
}

h1 {
    font-size: 2.8em;
}

.post {
    background-color: #dcdcdc;
    border: 1px solid #333;
    padding: 1em 0.7em 1em 0.7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Management */
.button {
    font: bold 14px Arial;
    text-decoration: none;
    color:  #fff;
    padding: 2px 6px 2px 6px;
}

.editPost {
    background-color: #3a3aab;
}

.deletePost {
    background-color: #d25757;
}

table, h2 {
    margin: auto;
}

th {
    text-align: left;
}

td {
    padding: 3px 10px 3px 10px;
}

td textarea {
    box-sizing: border-box;
    height: auto;
}